<nav class="bg-gray-800">
  <div class="max-w-7xl px-2">
    <div class="relative flex items-center justify-between h-16">
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <a href="#" class="text-white font-bold text-xl">Poll App</a>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a
              routerLink="/add-poll"
              routerLinkActive="active"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Add Poll</a
            >
            <a
              routerLink="/all-poll"
              routerLinkActive="active"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >All Polls</a
            >
            <a
              routerLink="/active-poll"
              routerLinkActive="active"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Active Polls</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
